@model IEnumerable<Nhom3_WebXemPhim.Models.LoaiTaiKhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLoaiTK)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoaiTK)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaLoaiTK }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaLoaiTK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaLoaiTK })
        </td>
    </tr>
}

</table>
