@model IEnumerable<Nhom3_WebXemPhim.Models.Phim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="margin:20px;">
    <h2>Danh sách phim</h2>
    <div style="width:90px; height: 30px; background-color:#f48f41 ; align-content:center; text-align:center; border-radius:5px; margin:20px 0;">
        <p>
            @Html.ActionLink("Thêm mới", "Create", null, new { style = "text-decoration:none; color: #fff;text-align:center;" })
        </p>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    Tên phim
                </th>
                <th>
                    Tên diễn viên
                </th>
                <th>
                    Hình ảnh phim
                </th>
                <th>
                    Mô tả phim
                </th>
                <th>
                    Thời lượng phim
                </th>
                <th>
                    Năm sản xuất
                </th>
                <th>
                    Lượt xem
                </th>
                <th>
                    Đường dẫn URL
                </th>
                <th>
                    Đơn giá
                </th>
                <th>
                    Chi tiết hợp đồng
                </th>
                <th>
                    Tên quốc gia
                </th>
                <th>
                    Tên thể loại
                </th>
                <th>
                    Tên trailer
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenPhim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDienVien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HinhAnhPhim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTaPhim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThoiLuongPhim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NamSanXuat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LuotXem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DuongDanURL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonGia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BanQuyenPhim.ChiTietHopDong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuocGia.TenQuocGia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TheLoai.TenTheLoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trailer.TenTrailer)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaPhim }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MaPhim }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MaPhim })
                    </td>
                </tr>
            }

        </table>

    </div>

</div>
