@model Nhom3_WebXemPhim.Models.Voucher

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenVoucher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenVoucher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DieuKien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DieuKien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayApDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayApDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayHetHan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayHetHan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaVoucher }) |
    @Html.ActionLink("Back to List", "Index")
</p>
