@model IEnumerable<Nhom3_WebXemPhim.Models.Phim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenPhim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenDienVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnhPhim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTaPhim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiLuongPhim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamSanXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuotXem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuongDanURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BanQuyenPhim.ChiTietHopDong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuocGia.TenQuocGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheLoai.TenTheLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trailer.TenTrailer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenPhim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenDienVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnhPhim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTaPhim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiLuongPhim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamSanXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuotXem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DuongDanURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BanQuyenPhim.ChiTietHopDong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuocGia.TenQuocGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheLoai.TenTheLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trailer.TenTrailer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhim }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPhim }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPhim })
        </td>
    </tr>
}

</table>
