@model Nhom3_WebXemPhim.Models.DonMuaGoiPhim

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="margin:20px;">
    <h2>Xóa đơn mua gói phim</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ThoiGian)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ThoiGian)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TongTien)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TongTien)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TrangThai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrangThai)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GoiPhim.LoaiGoiPhim)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GoiPhim.LoaiGoiPhim)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KhachHang.TenKhachHang)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KhachHang.TenKhachHang)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TaiKhoan.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaiKhoan.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Voucher.TenVoucher)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Voucher.TenVoucher)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Quay lại", "Index")
            </div>
        }
    </div>
</div>

