@model Nhom3_WebXemPhim.Models.DonMuaGoiPhim

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="margin:20px;">
    <h2>Chi tiết</h2>

    <div>
        <h4>Đơn mua gói phim</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Thời gian
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ThoiGian)
            </dd>

            <dt>
                Tổng tiền
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TongTien)
            </dd>

            <dt>
                Trạng thái
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrangThai)
            </dd>

            <dt>
                Loại gói phim
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GoiPhim.LoaiGoiPhim)
            </dd>

            <dt>
                Tên khách hàng
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KhachHang.TenKhachHang)
            </dd>

            <dt>
                Username
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaiKhoan.Username)
            </dd>

            <dt>
                Tên Voucher
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Voucher.TenVoucher)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.MaDonMuaGoi }) |
        @Html.ActionLink("Quay lại", "Index")
    </p>

</div>
